@{
    Layout = null;
}

<table class="table">
    <tr>
        <th style="text-align:center">
            <span>ISBN</span>
        </th>
        <th style="text-align:center">
            <span>Titulo</span>
        </th>
        <th style="text-align:center">
            <span>Qtde</span>
        </th>
        <th style="text-align:center">
            <span>Valor</span>
        </th>
        <th style="text-align:center">
            <span>Total</span>
        </th>
        <th></th>
    </tr>

    @foreach (var item in ViewBag.LivrosMesmaNotaFiscal)
    {
        <tr>
            <td style="text-align:center">
                <span>@item.ISBN</span>
            </td>
            <td style="text-align:left">
                <span>@item.tblLivros.Titulo</span>
            </td>
            <td style="text-align:right">
                <span>@item.Quantidade</span>
            </td>
            <td style="text-align:right">
                <span> $ @String.Format("{0:#,##0.00}", @item.Valor)</span>
            </td>

            <td style="text-align:right">
                <span>$ @String.Format("{0:#,##0.00}", (@item.Valor * @item.Quantidade))</span>
            </td>
            <td>
                <a href="  @Url.Action("EntradaEdit", new { id = item.idCarrinhoEntrada})    " title='Editar'> <i class='glyphicon glyphicon-pencil'> </i></a>&nbsp;
                <a href="  @Url.Action("EntradaDelete", new { id = item.idCarrinhoEntrada})  " title='Excluir'> <i class='glyphicon glyphicon-trash'> </i></a>&nbsp;
             </td>
        </tr>
    }

</table>