@model BezerraMenezesExpress.Models.tblParcela
@{
    Layout = null;
}
<head>
    <style type="text/css">
        div {
            font-family: 'Arial';
        }
    </style>
</head>
@{
    ViewBag.Title = "Details";
}


<div>
    <h3>Comprovante de Contribuição</h3>
    <h4>Parcela @Html.DisplayFor(model => model.Mes) de @Html.DisplayFor(model => model.Ano) </h4>
    <hr />
    <table>
        <tr>
            <td colspan="2"> @Html.DisplayFor(model => model.tblAssociado.Nome)<br /><br /></td>
        </tr>
        <tr>
            <td>Matricula</td>
            <td> @Html.DisplayFor(model => model.tblAssociado.Matricula)</td>
        </tr>
        <tr>
            <td>Data </td>
            <td> @Html.ValueFor(model => model.Pagamento, "{0:dd/MM/yyyy}")</td>
        </tr>
        <tr>
            <td>Tipo</td>
            <td>@Html.DisplayFor(model => model.tblSubconta.Descricao)</td>
        </tr>
        <tr>
            <td>@Html.DisplayNameFor(model => model.Valor)</td>
            <td>@Html.DisplayFor(model => model.Valor)</td>
        </tr>
        <tr>
            <td>Forma</td>
            <td>@Html.DisplayFor(model => model.tblFormaPagamento.Descricao)
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <hr />
            </td>
        </tr>
        <tr>
            <td colspan="2"><br /><br />-------------------------------------<br />
            assinatura do responsável</td>
        </tr>
        <tr>
            <td colspan="2">
                <br /><font size="1">&copy; @DateTime.Now.Year - Centro Espirita Bezerra de Menezes</font>
            </td>
        </tr>

    </table>
            
</div>


